GRANIAN_PORT=8000

APP_SERVICE_NAME=Best-Shorter
APP_SERVICE_VERSION=dev
APP_DEBUG=false
APP_LOGGING_LEVEL=INFO
APP_ROOT_PATH=/

POSTGRES_DB=your_database
POSTGRES_HOST=db_pg # Use container name if using Docker
POSTGRES_PORT=5432
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password

SQLA_ECHO=false
SQLA_ECHO_POOL=false
SQLA_POOL_SIZE=15
SQLA_MAX_OVERFLOW=10
